body {
  background-color: #2828280f;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  max-width: 310px;
  min-width: 310px;
  min-height: 400px;
  max-height: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 25px 15px;
  background-color: white;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 80%;
}

#form-inputs-container {
  margin-bottom: 25px;
}

.input-container {
  margin-bottom: 30px;
}

.input-container:last-child {
  margin-bottom: unset;
}

.MuiInputLabel-asterisk {
  display: none !important;
}

#form-actions-container {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#form-actions-container button {
  width: 100px;
}

#form-options-container {
  align-self: flex-end;
}

#logo {
  width: 140px;
}
